<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout.html">
    
	<head>
		<title>Sopramon - Achat items</title>
	</head>


<body id="achatitem">

	<div layout:fragment="custom-content">
	<div layout:fragment="sop">

			<header>
				<h1>Magasin</h1>
			</header>
			<br />
			<section>

				<button class="btn-load">Afficher la liste en magasin</button>
				<br />


				<table id="produits">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prix</th>
						</tr>
					</thead>

					<tbody></tbody>
				</table>
			</section>

			<script src="jquery-3.3.1.min.js"></script>
			<script src="listeachat-jquery.js"></script>
</body>
<footer layout:fragment="custom-footer">
</html>
