<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">

<head>
<title>Sopramon - Inscription</title>
</head>

<body id="inscription">
<div layout:fragment="custom-content">
	<div layout:fragment="sop">

	<header>
		<h1>INSCRIPTION</h1>
	</header>

	<form>
		<div class="form-group">
			<label for="nom">Nom</label> <input name="nom" type="text" class="form-control"
				id="nom" aria-describedby="emailHelp" placeholder="Entrer nom">
		</div>
		<div class="form-group">
			<label for="prenom">Prénom</label> <input name="prenom" type="text"
				class="form-control" id="prenom" placeholder="Entrer prénom">
		</div>
		<div class="form-group">
			<label for="username">Username</label> <input name="username" type="text"
				class="form-control" id="username" placeholder="Entrer username">
		</div>
		<div class="form-group">
			<label for="password">Mot de passe</label> <input name="password" type="text"
				class="form-control" id="password" placeholder="Entrer mot de passe">
		</div>

		<div class="form-group">
			<label for="date">Mot de passe</label> <input name="dateNaissance" type="date"
				class="form-control" id="date"
				placeholder="Entrer date de naissance">
		</div>
		<button type="submit" class="btn btn-primary">S'inscrire</button>
	</form>

	<script src="jquery-3.3.1.min.js"></script>
	<script src="navigation.js"></script>


<footer layout:fragment="custom-footer">

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="inscription-jquery.js"></script>
	<script src="jquery-3.3.1.min.js"></script>
	<script src="navigation.js"></script>

</body>
</html>