<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout.html">
    
<head>
	<title>Liste des Sopramon</title>
</head>

<body id="admin">
<div id="sop">
<a href="menu.html"><img src="https://fontmeme.com/permalink/180817/fe5d1bf70afecce8a969952cc773cb7d.png" alt="police-pokemon" border="0"></a>

	<header>
		<h1>LISTE DES SOPRAMON</h1>
	</header>

	<button class="btn btn-primary">RAFRAICHIR</button>

	<table id="sopramons">
		<thead>
			<tr th:each="sopramon : ${ sopramons }">
				<th>[[${ sopramon.nom }]]</th>
				<th>[[${ sopramon.dateNaissance }]]</th>
				<th>[[${ sopramon.experience }]]</th>
				<th>[[${ sopramon.niveau }]]</th>
				<th>[[${ sopramon.argent }]]</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>

</body>

<footer>
	<a href="javascript:history.go(-1)">Retour</a>
</footer>

</html>