<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/security/tags"
	layout:decorator="layout.html">

<head>
<title>Sopramon - Admin</title>
</head>

<body id="admin">
<section layout:fragment="custom-content">
			<header>
				<h1>ADMIN</h1>
			</header>

			<liens>
			<ul>
				<li><a href="gestionItems.html">Gestion des items</a></li>
				<li><a href="listeSopramon.html">Liste des Sopramon</a></li>
				<li><a href="listeCombats.html">Liste des combats</a></li>
			</ul>
			</liens>
</body>

</html>