<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/security/tags"
	layout:decorator="layout.html">

<head>
<title>Sopramon - Admin</title>
</head>

<body id="admin">
	<section layout:fragment="custom-content">
		<header>
			<h1>ADMIN</h1>
		</header>

		<ul>
			<li><a href="gestionItems">Gestion des items</a></li>
			<li><a href="listeSopramon">Liste des Sopramon</a></li>
			<li><a href="listeCombats">Liste des combats</a></li>
		</ul>

	</section>
</body>

</html>