<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/security/tags"
	layout:decorator="layout.html">

<head>
<title>Sopramon - Liste Combat</title>
</head>

<body id="admin">

	<section layout:fragment="custom-content">
		<header>
			<h1>LISTE DES COMBATS</h1>
		</header>
	</section>
	
	<section layout:fragment="custom-content">
			<button class="btn btn-primary">Rafraichir</button>

			<table id="combats" class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Arène</th>
						<th scope="col">Type</th>
						<th scope="col">Tours</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="combat : ${ combats }">
						<th>[[${ combat.dateCombat }]]</th>
						<th>[[${ combat.arene }]]</th>
						<th>[[${ combat.type }]]</th>
						<th>[[${ combat.tours }]]</th>
					</tr>
				</tbody>
			</table>
		</section>

</body>

</html>