<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">

<head>
<title>Sopramon - Map Combat</title>
</head>

<body id="menu">

<div layout:fragment="custom-content">
	<div layout:fragment="sop">



	<header>
		<h1>MENU</h1>
	</header>
	

	<ul>
		<li><a href="inscription" >S'inscrire</a></li>
		<li><a href="connexion">Se connecter</a></li>
	</ul>

	<script src="jquery-3.3.1.min.js"></script>
	<script src="navigation.js"></script>

</body>
</html>