<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/security/tags"
	layout:decorator="layout.html">

<head>
<title>Sopramon - Modifier item</title>
</head>
<body id="admin">
	<header>
		<h1>MODIFIER ITEM</h1>
	</header>

	<section layout:fragment="custom-content">
		<form method="POST">
			<div>
				<label>Nom de l'item :</label> <input class="form-control"
					type="text" name="nom" th:value="${item.nom}" />
			</div>
			<div>
				<label>Prix :</label> <input class="form-control" type="number"
					name="prix" th:value="${item.prix}" />
			</div>
			<div>
				<label>Valeur d'attaque :</label> <input class="form-control"
					type="number" name="attaque" th:value="${item.attaque}" />
			</div>
			<div>
				<label>Valeur de défense :</label> <input class="form-control"
					type="number" name="defense" th:value="${item.defense}" />
			</div>
			<div>
				<label>Valeur d'esquive :</label> <input class="form-control"
					type="number" name="esquive" th:value="${item.esquive}" />
			</div>
			<div>
				<label>Valeur de vitesse :</label> <input class="form-control"
					type="number" name="vitesse" th:value="${item.vitesse}" />
			</div>
			<div>
				<label>Description :</label> <input class="form-control"
					type="text" name="description" th:value="${item.description}" />
			</div>
			<button type="submit" class="btn btn-primary">Modifier</button>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
		</form>

	</section>
</body>
</html>