<ul>
    <li><a [routerLink]="['/']" routerLinkActive="active">Lien vers l'accueil</a></li>
    <li><a [routerLink]="['/combats']" routerLinkActive="active">Lien vers les combats</a></li>
    <li><a [routerLink]="['/jouer', 42]" routerLinkActive="active">Lien pour jouer</a></li>
    <li><a [routerLink]="['/items']" routerLinkActive="active">Lien pour les items</a></li>
    <li><a [routerLink]="['/items', 42]" routerLinkActive="active">Lien pour un item</a></li>
</ul>

<router-outlet></router-outlet>
