<ul>
    <!-- <li><a [routerLink]="['/']" routerLinkActive="active" class="btn btn-success">Lien vers l'accueil</a></li> -->
    <li><a [routerLink]="['/combat']" routerLinkActive="active" class="btn btn-warning"> Liste des combats </a></li>
    <!-- <li><a [routerLink]="['/jouer']" routerLinkActive="active" class="btn btn-danger"> Jouer</a></li> -->
    <li><a [routerLink]="['/item']" routerLinkActive="active" class="btn btn-success"> Magasin </a></li>
    <li><a [routerLink]="['/icombat']" routerLinkActive="active" class="btn btn-primary"> Interface menu </a></li>
    <!-- <li><a [routerLink]="['/items', 42]" routerLinkActive="active">Lien pour un item</a></li> -->
</ul>

<router-outlet></router-outlet>
