<h1> Bienvenue dans le magasin </h1>

<h2> Liste des items </h2>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Description</th>
      <th>Attaque</th>
      <th>Defense</th>
      <th>Esquive</th>
      <th>Vitesse</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of items">
      <td>{{ i.nom }}</td>
      <td>{{ i.prix }}</td>
      <td>{{ i.description }}</td>
      <td>{{ i.attaque }}</td>
      <td>{{ i.defense }}</td>
      <td>{{ i.esquive }}</td>
      <td>{{ i.vitesse }}</td>
      <td>
        <button (click)="acheterItem(i)" class="btn-load">Acheter</button>
      </td>
    </tr>
  </tbody>
</table>
